.Poster {
    min-width: 320px;
    width: 320px;
    height: 180px;
    margin: 5px;   
    position: relative;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-size: 3em;
}

.Poster > img {
    width: 100%;
    height: auto;
    margin: auto;
}

.Poster:hover {
    opacity: 0.5;
    font-size: 4em;
}

.Poster > span.Play {
    position: absolute;
    left: 0;
    right: 10%;
    top: 0;
    bottom: 30%;
    margin: auto;
    width: 0;
    height: 0;
}