.Video-player {
    margin: auto;
}

.video-js .vjs-big-play-button {
    top: 45%;
    left: 45%;
    color: white;
    background-color: red;
}


/*Medium Screens*/
@media all and (max-width: 800px) {
    .Video-player{
        width: 640px;
        height: 360px;
    }

    .video-js .vjs-big-play-button {
        top: 40%;
        left: 40%;
    }
}

/*Small Screens*/
@media all and (max-width: 600px) {
    .Video-player{
        width: 320px;
        height: 180px;
    }

    .video-js .vjs-big-play-button {
        top: 35%;
        left: 35%;
    }
}