.Header {
    flex-shrink: 0;
    background-color: #222;
    font-size: small;
    font-weight: bold;
}

.Container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}